<!DOCTYPE html>
<html>
  <head>
    <title>ÄInh Thanh minh</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" multiple />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
